on:
  push:

jobs:
  say-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Print a message
        run: echo "Hello! a push detected in repo"
      - name: Print a message
        run: echo "Hello! Testing is done"